<div class="si-footer text-center">
<div class="pre-footer text-center">
  <h2>We are Social!</h2><br>
    <div id="social-area" class="page">
      <div class="container">
          <div class="row">
                <div>
                    <nav id="social">
                        <ul class="list-inline">
                            <li>
                              <a href="https://www.facebook.com/pages/Semicolon-Inc/711202062260751" target="_blank"><img src="assets/images/facebook.png"></a>
                            </li>

                <li>
                  <a href="https://www.instagram.com/semicoloninc" target="_blank"><img src="assets/images/instagram.png"></a>
                </li>

                <li>
                  <a href="https://www.twitter.com/semicoloninc" target="_blank"><img src="assets/images/twitter.png"></a>
                </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Socialize -->

<h4>&copy <span>2014-15 Semicolon Inc.</span></h4>
<p>Graphic Designing | Web Applications | Mobile Applications</p>

</div>
